/* estructure
    selector {
        property: value;
    }
    Universal - *
    of type - element(tag)
    class - .class
    ID - #id
    attribute - [attribute="value"] 
    descendent - first-tag second-tag ... wanted-tag //works with class and id
    pseudo class - element:action  //works with class and id

    Even if it's cascade, theres some hierarchy.
    For example, if you want to change the text color inside sections, you must erase the universal selector (*)
*/
* {
    color:rgba(62, 66, 189, 0.78);
}
h1 {
    color:#510666c7;;
}
.about {
    color:rgba(217, 46, 214, 0.78);
}
#paragraph {
    color:rgba(165, 17, 17, 0.78);
} /*look, there is a class and also an ID called paragraph, but only ID receives the color because we used # */
[design="beautiful"]{
    font-style: italic;
    color: #000000;
}
h2 p{
    color:#0d0323;
}
h2:hover {
    color: #ff0000;
}
.specificity li{
    color:#ff0000;
    color: #0d0323 !important;
    color: #00ffff; 
    /*it makes color first change, then a second change. but the final change does not appear. This is because !important makes it to be the most important*/
}
/*HIERARCHY 
    -!important, TOP (for extreme cases)
    -line styles, 2nd (styles in html, but not recommended)
    -id's, 3rd
    -classes. 4th
    -pseudo-classes, 4th
    -atributes, 4th
    -elements, 5th
    -pseudo-elements (like a), 5th
 */
