/* estructure
    selector {
        property: value;
    }
    Universal - *
    of type - element(tag)
    class - .class
    ID - #id
    attribute - [attribute="value"] 
    descendent - first-tag second-tag ... wanted-tag //works with class and id
    pseudo class - element:action  //works with class and id

    Even if it's cascade, theres some hierarchy.
    For example, if you want to change the text color inside sections, you must erase the universal selector (*)
*/
* {
    color:rgba(62, 66, 189, 0.78);
    box-sizing: border-box; /*it autocompletes the rest of the content with padding*/
    padding: 0;
    margin: 0;
}
h1 {
    color:#510666c7;;
}
.about {
    color:rgba(217, 46, 214, 0.78);
}
#paragraph {
    color:rgba(165, 17, 17, 0.78);
} /*look, there is a class and also an ID called paragraph, but only ID receives the color because we used # */
[design="beautiful"]{
    font-style: italic;
    color: #000000;
}
h2 p{
    color:#0d0323;
}
h2:hover {
    color: #ff0000;
}
.specificity li{
    color:#ff0000;
    color: #0d0323 !important;
    color: #00ffff; 
    /*it makes color first change, then a second change. but the final change does not appear. This is because !important makes it to be the most important*/
}
/*HIERARCHY 
    -!important, TOP (for extreme cases)
    -line styles, 2nd (styles in html, but not recommended)
    -id's, 3rd
    -classes. 4th
    -pseudo-classes, 4th
    -atributes, 4th
    -elements, 5th
    -pseudo-elements (like a), 5th
 */
.contact-form{
    font-size: 6px;
}
.contact-form__input:first-child {
    color: #821b1b;
}

.contact-form__input:last-child {
    color: #1a9f27;
}
.contact-form__input--password_active {
    color:#d2691e;
}
.contact-form__input--password_active {
    color:#d2691e;
    font-size: 5em; /*1em = 16px as default but it inherits the previous one. In this case, it inherits 6px*/
}
/*BEM methodology has this format, when it is differente from the rest, use - if it's a tag and -- for a name*/

/*Responsive design means the design adjust to the device, it's different a desktop screen and a mobile screen*/

.unordered-list__li:first-child{
    font-size: 40px; 
}
.unordered-list__li:nth-child(2){
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000000;
}
.unordered-list__li:nth-child(3){
    line-height: 6; /*line height means the height of the word, it divides into 2, half size up and half size down*/ 
}
.unordered-list__li:last-child{
    font-weight: 700; /*most common are 400 and 700*/
}

